run = "npm run dev"

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = true

[build]
build = ["npm", "run", "build"]
dist = ["npm", "run", "start"]

[nix]
channel = "stable-22_11"

[env]
NODE_ENV = "development"
